@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://cdn.craftycomponents.com/crafty-release.js"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <style>
          body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
          #cr-stage { border:2px solid black; margin:5px auto; color:white }
        </style>
    </head>
    <body>
        @content
    </body>
</html>
